body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #CCC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 100vh;
  text-align: center;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.833);
  overflow: hidden;
}

/* GRID */

/* Componente Header */
.titulo {
  grid-area: Header;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  padding: 30px;
}
/* Componente Header */

/* Componente Imagen Portada */
.portada {
  grid-area: Portada;
  display: grid;
  margin: auto;

}
/* Componente Imagen Portada */

/* Componente Cards */
.galeria {
  grid-area: Card;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px 30px;
  margin: auto;
  padding-bottom: 30px;
}

footer {
  grid-area: footer;
  display: grid;
  margin: 0;

}
/* Componente Cards */

main {
  min-height: 100vh;
  display: grid;
  grid-template-areas:    'Header Header Header'
                          'Portada Portada Portada '
                          'Card Card Card'
                          'footer footer footer';
  grid-template-rows: auto auto auto auto;
}

@media screen and (max-width: 576px) {
  .galeria {
    grid-template-columns: auto;
  }  
}

@media screen and (min-width: 720px) {
  .galeria {
    grid-template-columns: auto auto;
  }  
}

@media screen and (min-width: 1140px) {
  .galeria {
    grid-template-columns: auto auto auto;
  }  
}
/*GRID*/





